@using Microsoft.AspNet.Identity
@model Samurai_CMS.Models.Edition

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Conference.Name)</h1>
<h1 class="text-capitalize text-center text-uppercase">@Html.DisplayFor(model => model.Title)</h1>
<br />

@{
    string startMonth = Model.StartDate.Value.ToString("MMMM");
    string endMonth = Model.EndDate.Value.ToString("MMMM");
    string startDay = Model.StartDate.Value.ToString("dd");
    string endDay = Model.EndDate.Value.ToString("dd");
}
@if (startMonth == endMonth)
{
    <h3 class="text-center text-uppercase">
        @Html.DisplayFor(modelItem => startMonth)<text>&nbsp;&nbsp;</text>@Html.DisplayFor(modelItem => startDay)<text> - </text>@Html.DisplayFor(modelItem => endDay)<text>,&nbsp;&nbsp;</text>@Html.DisplayFor(modelItem => modelItem.Year)
    </h3>
}
else
{
    <h3 class="text-center text-uppercase">
        @Html.DisplayFor(modelItem => startMonth)<text>&nbsp;&nbsp;</text>@Html.DisplayFor(modelItem => startDay)<text> - </text>@Html.DisplayFor(modelItem => endDay)<text>,&nbsp;&nbsp;</text>@Html.DisplayFor(modelItem => modelItem.Year)
    </h3>
}

<br />

@if (Model.EndDate > DateTime.Today && Model.StartDate > DateTime.Today && !ViewBag.AlreadyAttended)
{
    <div class="text-center">
        @Html.ActionLink("Update", "Edit", "Enrollments", new { userId = User.Identity.GetUserId(), editionId = Model.Id }, new { @class = "btn btn-success btn-lg" })
    </div>
}
else if (ViewBag.AlreadyAttended)
{
    if (ViewBag.IsSpeaker)
    {
        <div class="text-center">
            @Html.ActionLink("Update", "Edit", "Enrollments", new { userId = User.Identity.GetUserId(), editionId = Model.Id }, new { @class = "btn btn-success btn-lg" })
        </div>
        <div class="text-center">
            <h4 class="text-info">Modify abstract or paper</h4>
        </div>
    }
    else
    {
        <div class="text-center">
            <button type="button" class="btn btn-success btn-lg disabled">Apply to attend</button>
            <p class="text-danger">You already attended this edition!</p>
        </div>
    }
}
else
{
    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg disabled">Apply to attend</button>
        <p class="text-danger">Enrollment period has ended</p>
    </div>
}

<br /><hr /><br />

<div>
    <h3 class="text-center">@Html.DisplayFor(model => model.Description)</h3>
</div>

<br /><hr /><br />

<div class="text-center container-fluid">
    <div class="col-lg-12">
        <h3>@Html.DisplayFor(model => model.Title) membership </h3>
        <h4>Price: 32 <span class="glyphicon glyphicon-euro"></span></h4>
        <br /><br />
        <h4>Here’s what’s included in your @Html.DisplayFor(model => model.Title) membership:</h4>
        <br />
    </div>
        <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 h4">
            <table class="table table-striped text-left" id="membership-package-table">
                <tr>
                    <td>
                        @{
                            string numberOfDays = Math.Floor((Model.EndDate.Value - Model.StartDate.Value).TotalDays).ToString();
                         }
                         A @Html.DisplayFor(model => numberOfDays)-day stage program
                    </td>
                    <td>
                        Multiple sessions of @Html.DisplayFor(model => model.Title)'s famous 18-minute talks, plus other surprises
                    </td>
                </tr>
                <tr>
                    <td>
                        Comfortable simulcast spaces
                    </td>
                    <td>
                        Watch, tweet, blog... and connect around powerful ideas
                    </td>
                </tr>
                <tr>
                    <td>
                        Dinners and parties
                    </td>
                    <td>
                        From welcome parties to inspired conversations over dinner, many ways to connect around ideas
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Conference.Name) Gift Bag
                    </td>
                    <td>
                        Hand-picked by @Html.DisplayFor(model => model.Conference.Name) and our partners
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Conference.Name)Connect
                    </td>
                    <td>
                        Our award-winning app for meeting other attendees
                    </td>
                </tr>
                <tr>
                    <td>
                        Workshops and activities
                    </td>
                    <td>
                        Explore new interests, dive deeper into an idea or check something off your bucket list
                    </td>
                </tr>
                <tr>
                    <td>
                        Conference video archive
                    </td>
                    <td>
                        Watch and rewatch your favorite talks at your leisure with full access to the conference archive
                    </td>
                </tr>
            </table>
        </div>

    <div class="col-lg-offset-2 col-lg-8 col-offset-2 h3">The 
    @Html.DisplayFor(model => model.Conference.Name) 
    community actively seeks new members who are leaders in their field and who can make a strong contribution. We review each application in detail, and look forward to reading yours. 
    @Html.DisplayFor(model => model.Title) @Html.DisplayFor(modelItem => modelItem.Year)
    will be an event not to be missed!</div>


    <div class="col-lg-offset-4 col-lg-4 col-offset-4">
        @if (Model.EndDate > DateTime.Today && Model.StartDate > DateTime.Today && !ViewBag.AlreadyAttended)
        {
            <div class="text-center">
                @Html.ActionLink("Apply to attend", "Create", "Enrollments", new { id = Model.Id }, new { @class = "btn btn-success btn-lg" })
            </div>
        }
        else if (ViewBag.AlreadyAttended)
        {
            if (ViewBag.IsSpeaker)
            {
                <div class="text-center">
                    @Html.ActionLink("Update", "Edit", "Enrollments", new { userId = User.Identity.GetUserId(), editionId = Model.Id }, new { @class = "btn btn-success btn-lg" })
                </div>
                <div class="text-center">
                    <h4 class="text-info">Modify abstract or paper</h4>
                </div>
            }
            else
            {
                <div class="text-center">
                    <p class="text-danger">You are registered to this edition!</p>
                </div>
            }
        }
        else
        {
            <div class="text-center">
                <button type="button" class="btn btn-success btn-lg disabled">Apply to attend</button>
                <p class="text-danger">Enrollment period has ended</p>
            </div>
        }
    </div>
</div>

<br /><hr /><br />


<h2 class="text-center">The speakers of this edition</h2>
<br />
<div class="container-fluid">
    @foreach (var author in Model.Participants.Where(author => author.Role.Name == Samurai_CMS.Models.Roles.Author.ToString()))
    {
        //si a se decomenta if-urile de mai jos
        //if (author.Role.Name == "Author" && author.Paper.IsAccepted != null)
        //{
        //    if (author.Paper.IsAccepted == true)
        //    {
        <div class="col-sm-6 col-md-3 col-lg-3 text-center">
            <a href='http://@author.User.WebsiteUrl' target="_blank"><img class="img-circle img-responsive img-center" src="~/Content/ImageResources/no-photo-speaker.png"/></a>
            <h4>@Html.DisplayFor(model => author.User.Name)</h4>
            <p>@Html.DisplayFor(model => author.Affiliation)</p>
            <br />
            Paper title:
            <p>@Html.DisplayFor(model => author.Paper.Title)</p>
            <br />
        </div>
        //    }
    }
</div>


<p>
    @if (ViewBag.IsAdministrator)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }); 
        <text> | </text>
    }
    @Html.ActionLink("Back to conference editions", "Details", "Conferences", new { id = Model.ConferenceId }, null)
</p>
