@model IEnumerable<Samurai_CMS.Models.Edition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.IsAdministrator)
{
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-outline-success" });
    <text>&nbsp;&nbsp;&nbsp;</text>
    @Html.ActionLink("Back to Conferences", "Index", "Conferences", null, new { @class = "btn btn-success btn-outline-success" });
    <br /><br />
}

<table class="table table-condensed table-hover">

    <tr>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.Conference.Name)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="col-xs-3">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.AbstractDeadline)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.PaperDeadline)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.ResultsDeadline)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="col-xs-1">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th class="col-xs-2"></th>
    </tr>

    @{ int index = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbstractDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultsDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Details", "Editions", new { id = item.Id })"><span class="glyphicon glyphicon-info-sign" style="font-size: 20px"></span></a>
                <br /><br />
                <a href="@Url.Action("Edit", "Editions", new { id = item.Id })"><span class="glyphicon glyphicon-edit" style="font-size: 20px"></span></a>
                <br /><br />
                <a data-toggle="modal" href="#@("delete-modal-"+index)" title="Delete"><span class="glyphicon glyphicon-trash" style="font-size: 20px"></span></a>
            </td>
        </tr>

        <!-- Delete Modal -->
            <div class="modal fade" id="@("delete-modal-" + index)" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        @Html.Partial("~/Views/Editions/Delete.cshtml", item);
                    </div>
                </div>
            </div>
        index++;
    }

</table>



@Html.ActionLink("Back to Conferences", "Index", "Conferences")
