@model IEnumerable<Samurai_CMS.Models.Conference>

@{
    ViewBag.Title = "Conferences";
}

<h2>Conferences</h2>

@if (ViewBag.IsAdministrator)
{
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-outline-success align-middle" });
    <br /><br /><br /><br />
}

<div class="container-fluid">
    @{ int index = 0;}
    @foreach (var conference in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-4 container">
            <div class="panel panel-default conference-animated-box">
                <div class="panel-heading">
                    @if (ViewBag.IsAdministrator)
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <a href='@Url.Action("Details", "Conferences", new {id = conference.Id})' title="Details"><strong class="">@Html.DisplayFor(modelItem => conference.Name)</strong></a>
                            </div>
                            <div class="col-md-4">
                                <a data-toggle="modal" href="#@("edit-modal-"+index)" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <span>&nbsp; &nbsp;</span>
                                <a data-toggle="modal" href="#@("delete-modal-"+index)" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href='@Url.Action("Details", "Conferences", new {id = conference.Id})' title="Details"><strong class="">@Html.DisplayFor(modelItem => conference.Name)</strong></a>
                    }
                </div>
                <div class="panel-body panel-body-width">
                    <p><strong>@Html.DisplayNameFor(model => model.Theme):</strong> @Html.DisplayFor(modelItem => conference.Theme)</p>
                    @if (ViewBag.IsAdministrator)
                    {
                        <p><strong>@Html.DisplayNameFor(model => model.PaperIsRequired):</strong> @Html.DisplayFor(modelItem => conference.PaperIsRequired)</p>
                        <p><strong>@Html.DisplayNameFor(model => model.ReviewersCount):</strong> @Html.DisplayFor(modelItem => conference.ReviewersCount)</p>
                    }
                </div>
            </div>

            @if (ViewBag.IsAdministrator)
            {
                <!-- Delete Modal -->
                <div class="modal fade" id="@("delete-modal-" + index)" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            @Html.Partial("~/Views/Conferences/Delete.cshtml", conference);
                        </div>
                    </div>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="@("edit-modal-" + index)" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            @Html.Partial("~/Views/Conferences/Edit.cshtml", conference);
                        </div>

                    </div>
                </div>
            }
        </div>
        index++;
    }
</div>
