@model IEnumerable<Samurai_CMS.Models.Conference>

@{
    ViewBag.Title = "Conferences";
}

<h2>Conferences</h2>

@if (ViewBag.IsAdministrator)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="container-fluid">
    @foreach (var item in Model)
    {
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default conference-animated-box">
                    <div class="panel-heading">
                        @if (ViewBag.IsAdministrator)
                        {
                            <div class="row">
                                <div class="col-md-8">
                                    <a href='@Url.Action("Details", "Conferences", new {id = item.Id})' title="Details"><strong class="">@Html.DisplayFor(modelItem => item.Name)</strong></a>
                                </div>
                                <div class="col-md-4">
                                    <a href='@Url.Action("Edit", "Conferences", new {id = item.Id})' title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <text> &nbsp; &nbsp; </text>
                                    <a href='@Url.Action("Delete", "Conferences", new {id = item.Id})' title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a href='@Url.Action("Details", "Conferences", new {id = item.Id})' title="Details"><strong class="">@Html.DisplayFor(modelItem => item.Name)</strong></a>
                        }
                    </div>
                    <div class="panel-body">
                        <p>Theme: @Html.DisplayFor(modelItem => item.Theme)</p>
                        <p>~~ Conference description ~~
                            ~~ Conference description ~~
                            ~~ Conference description ~~
                            ~~ Conference description ~~
                            ~~ Conference description ~~</p>
                    </div>
                </div>
            
        </div>
    }
</div>
